<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <title>Hello, world!</title>
</head>
<body>

<% include nav %>

<div class="container">
    <h1><%= title %></h1>

    <form method="post" action="/hotro"
          enctype="application/x-www-form-urlencoded">

        <input name="email" placeholder="nhap email cua ban">
        <input name="noidung" placeholder="nhap noi dung cua ban">
        <button type="submit">Save</button>

    </form>

    <div> <%= message %></div>
    <h1>
        <%= name %>
    </h1>
    <h1>
        <%= tuoi %>
    </h1>
    <h1>
        <% for(var i = 0;i < array.length ;i++){ %>

            <div class="btn btn-primary"> <%= array[i] %></div>

        <% } %>
    </h1>

    <h2>
        <% sinhVien.name %>
    </h2>
    <h2>
        <% sinhVien.sdt %>
    </h2>

    <% for(var i = 0;i < danhSach.length ;i++){ %>

        <div class="btn btn-primary"> <%= danhSach[i].name %></div>
        <div class="btn btn-primary"> <%= danhSach[i].sdt %></div>
        <div>-=-------------------------------------------------------</div>

    <% } %>

    <% thongTin.name %>
    <% thongTin.sdt %>

    <% for(var i = 0;i < thongTin.danhSach.length ;i++){ %>

        <div class="btn btn-primary"> <%= thongTin.danhSach[i].name %></div>
        <div class="btn btn-primary"> <%= thongTin.danhSach[i].sdt %></div>
        <div>-=-------------------------------------------------------</div>

    <% } %>

</div>


<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
-->
</body>
</html>
